{{ define "body" }}
{{ if not .NoPost }}
<h1><a class=posttitle href="{{ .FileName }}">{{ .Title }}</a></h1> 
{{ end }}
<div id="postheader">
{{ if not .NoPost }}<p class="date">Published {{ .Published }}</p>{{ end }}
{{ if .ContentTags }}<p class="mytags">Tagged: {{ range .ContentTags }}<a class="taglink" href="/{{ index . 1 }}">{{ index . 0 }}</a> {{ end }}</p>{{ end }}
{{ if not .NoPost }}
<div class="topnav">
<b>Go to:</b> {{ template "navbar" (index .TagNavs 0) }}
</div>
{{ end }}
</div>
{{ .Content }}
{{ if not .NoPost }}
<hr class=navbar />
<div id="navbar">
{{ range .TagNavs }}
<div class="navbar">
{{ template "navbar" . }}
</div>
{{ end }}
{{ end }}
</div>
{{ end }}

{{ define "title" }}Eric Sorell Writes Code{{ if .Title }}: ({{ .Title }}){{ end }}{{ end }}
