{{ define "linklist" }}
{{ if . }}
        {{ range . }}
        <h3>{{ .Title }}</h3>
        <ul>
                {{ range .Posts }}
                        {{ if not .NoPost }}
                        <li> {{ template "fulllink" . }} </li>
                        {{ end }}
                {{ end }}
        </ul>
        {{ end }}
{{ end }}
{{ end }}

{{ define "fulllink" }}
        <a class="postlink" href="{{ .FileName }}">{{ .Title }}</a> {{ .Published }}
        {{ if .ContentTags }}<b>Tags:</b> 
        {{ range .ContentTags }}<a class="taglink" href="/{{ index . 1 }}">{{ index . 0 }}</a> {{ end }}
        {{ end }}
{{ end }}
